/*

.loginForm{ 
    padding: 6px;
    border: 1px solid red;   
}
*/

/*
*/

.image{
    position: relative;
    background-image: url(../img/pexels-photo-316466.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    opacity: 0.9;
}
.img{
    height: 70px;
	margin-left: 28%;
}

/*
.login-panel{
    z-index: 100;
}
*/
.well{
 background-color: transparent;
    border: 3px solid rgba( 47, 167, 167, 0.971 );
	border-radius: 20px;
}

.warning{
    color: red;
}
.logoName{
    z-index: 100;
    margin-right: 9em;
    margin-left: 10em;
    font-size: 15px;
    font-display: block;
    font-feature-settings: normal;
    font-weight: bold;
}