<style>
#info-sidebar{
	position: absolute;
	left: -80vw;
	top:0;
	height: 110vh;
	width: 0vw;
	z-index: 1000000;
	margin: 0;
	padding: 0;
	transition: 0.5s;
	background-color: white;
	border-right: 2px solid #dddddd;
}
#sidebar-slide-in{
	display: block;
}
#info-sidebar-slideIn{
	left: 85%;
}
/*
.head{
	background-color: #ebefeb;
}
*/
.button,.button:hover{
	background-color: transparent;
	border: none;
}
</style>
<div>
    <div class="container-fluid">
        <div class="row header-row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="flex-wrap header-wrap">
                    <div class=""><button class="btn btn-lg btn-info button" style="margin-top:10px" id="info"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
                    </div>
                    <div class="">CarSecure</div>
                    <div class="" ><button class="btn btn-lg btn-danger button" style="margin-top:10px" ng-click="logout()">
                        <span class="glyphicon glyphicon-log-out" alt="logout"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="info-sidebar">
			<div class="head" style="padding-top: 1em; padding-bottom: 16px; padding-left: 1em;"
							id="sidebar-slide-in" ng-click="slideIn()">
							  <span id="info-sidebar-slideIn"
								  class="glyphicon glyphicon-arrow-left"
								  style="font-size: 20px; position: relative;"></span>
			</div>
			<div>
				
			</div>
								<div>
								<div class="row header" style="margin-left:60px;padding:2px;width:95%;">
									<h4>Profile</h4>
								</div>
								<div class="" style="margin-left:2px;padding:2px;width:95%;margin-top:5px;">
									<h5>UserName:&nbsp&nbsp{{credential.name}}</h5>
								</div>
								<div class="" style="margin-left:2px;padding:2px;width:95%;">
									<h5>Email:&nbsp&nbsp{{credential.username}}</h5>
								</div>
								</div>
								<div>
								<div class="row header" style="margin-left:2px;padding:2px;width:95%;border-bottom:1px solid grey">
									<h4>Vehicle Information</h4>
								</div>
								<div class="" style="margin-left:2px;padding:2px;width:95%;">
									<h5>Car:&nbsp&nbsp {{carName}}</h5>
								</div>
								<div class="" style="margin-left:2px;padding:2px;width:95%;">
									<h5>Description:&nbsp&nbsp {{carDesp}}</h5>
								</div>
								</div>
								
	</div>
    <div class="container">
        <div class="row" >
            <div class="col-sm-12 col-md-12 col-xs-12">
<!--
                <div class="card">
                    <div class="card-header">
                        Vehicle Info
                    </div>
                    <div class="card-body">
                        <div class="card-list">
                            <div class="card-label">Name</div>
                            <div class="card-label-data">{{vehicleInfo['name']}}</div>
                        </div>
                        <div class="card-list">
                            <div class="card-label">Description</div>
                            <div class="card-label-data">{{vehicleInfo['description']}}</div>
                        </div>
                    </div>
                </div>
-->
            </div>
        </div>
        <!--Content Body-->
        <div class="row content-body">
            <div class="no-data-content" ng-if="notificationData == undefined">
                <span class="glyphicon glyphicon-floppy-remove"></span>
            </div>
            <div class="col-sm-12 col-md-12 col-xs-12" ng-if="notificationData!=undefined">
<!--
                <div class="card">
                    <div class="card-body scrollable-data">
-->
                        <div class="card" data-ng-repeat="notification in notificationData track by $index">
                            <div class="card-header">{{notification.timestamp}}</div>
                            <div class="card-body">
                                <div class="card-list">
                                    <div class="card-label">Status</div>
                                    <div class="card-label-data">{{notification.status}}</div>
                                </div>
                                <div class="card-list">
                                    <div class="card-label">User Action</div>
                                    <div class="card-label-data" ng-if="notification.status == 'WAITING'">
                                    <button class="btn-xs btn-success" ng-click="userAction('ALLOW',notification.id)">Allow</button>
                                    <button class="btn-xs btn-danger" style="margin-left:11px;" ng-click="userAction('BLOCK',notification.id)">Block</button></div>
                                    <div class="card-label-data" ng-if="notification.status != 'WAITING'">{{notification.useraction}}</div>
                                </div>
                            </div>
                        </div>
<!--
                    </div>
                </div>
-->
            </div>
        </div>
        <!--Footer-->
        <div class="row">
            <div class="creators">Created by Prajyot Walali, Prabhat Singh and Ranvijay Prajapati</div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#info').click(function (event) {
            // controlling sidebar toggle here
//            console.log('MMApps sidebar toggle button pressed');
            document.getElementById('info-sidebar').style.width = '70vw';
            document.getElementById('info-sidebar').style.left = '0vw';
        });
    });
</script>








<!--ng-if="vehicleInfo['status'] == 'success'"-->