<style>
#info-sidebar{
	position: absolute;
	left: -30vw;
	top:0;
	height: 200vh;
	width: 0vw;
	z-index: 1000000;
	margin: 0;
	padding: 0;
	transition: 0.5s;
	background-color: white;
	border-right: 1.5px solid #dddddd;
}
#sidebar-slide-in{
	display: block;
}
#info-sidebar-slideIn{
	left: 85%;
}
</style>
<div>
    <div class="container-fluid">
        <div class="row header-row">
            <div class="col-sm-12 col-md-12 col-xs-12">
                <div class="flex-wrap header-wrap">
                    <div class=""><button class="btn btn-info" style="margin-top:10px" id="info"><span class="glyphicon glyphicon-menu-hamburger"></span></button>
                    </div>
                    <div class="">CarSecure</div>
                    <div class="" ><button class="btn btn-danger" style="margin-top:10px" ng-click="logout()">
                        <span class="glyphicon glyphicon-log-out" alt="logout"></span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="" id="info-sidebar">
			<div style="padding-top: 1em; padding-bottom: 1em; padding-left: 1em;background-color: white;;border-bottom:1px solid grey"
							id="sidebar-slide-in" ng-click="slideIn()">
							  <span id="info-sidebar-slideIn"
								  class="glyphicon glyphicon-arrow-left"
								  style="font-size: 22px; position: relative;"></span>
			</div>
<!--
								<div>
								<div class="row header" style="margin-left:2px;padding:2px;width:95%;border-bottom:1px solid grey">
									<h4>Profile</h4>
								</div>
								<div class="well" style="margin-left:2px;padding:2px;width:95%;">
									<h5>UserName:</h5>
								</div>
								<div class="well" style="margin-left:2px;padding:2px;width:95%;">
									<h5>Email:</h5>
								</div>
								</div>
								<div>
								<div class="row header" style="margin-left:2px;padding:2px;width:95%;border-bottom:1px solid grey">
									<h4>Vehicle Information</h4>
								</div>
								<div class="well" style="margin-left:2px;padding:2px;width:95%;">
									<h5>Car:</h5>
								</div>
								<div class="well" style="margin-left:2px;padding:2px;width:95%;">
									<h5>Device Id:</h5>
								</div>
								</div>
-->
								
							</div>
    <div class="container">
        <div class="row" >
            <div class="col-sm-12 col-md-12 col-xs-12">
<!--
                <div class="card">
                    <div class="card-header">
                        Vehicle Info
                    </div>
                    <div class="card-body">
                        <div class="card-list">
                            <div class="card-label">Name</div>
                            <div class="card-label-data">{{vehicleInfo['name']}}</div>
                        </div>
                        <div class="card-list">
                            <div class="card-label">Description</div>
                            <div class="card-label-data">{{vehicleInfo['description']}}</div>
                        </div>
                    </div>
                </div>
-->
            </div>
        </div>
        <!--Content Body-->
        <div class="row content-body">
            <div class="no-data-content">
                <span class="glyphicon glyphicon-floppy-remove"></span>
            </div>
        </div>
        <!--Footer-->
        <div class="row">
            <div class="creators">Created by Prajyot Walali, Prabhat Singh and Ranvijay Prajapati</div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('#info').click(function (event) {
            // controlling sidebar toggle here
//            console.log('MMApps sidebar toggle button pressed');
            document.getElementById('info-sidebar').style.width = '70vw';
            document.getElementById('info-sidebar').style.left = '0vw';
        });
    });
</script>








<!--ng-if="vehicleInfo['status'] == 'success'"-->