<div class="container-fluid">
    <div class="row" style="margin-top:60px">
            <h1 class="logo">CarSecure</h1>
                </div>
               <div class="login-form">
               <div class="row" style="margin-top:40px">
            <form data-ng-submit="regvehicle()">
                <div class="form-group">
                    <input type="text" name="name" ng-model="carsecure.regvehicle.name"  class="form-control" placeholder="Name your car" required>
                </div>
                <div class="form-group">
                    <input type="text" name="description" ng-model="carsecure.regvehicle.description" class="form-control" placeholder="Describe your car" required>
                </div>
                <div class="form-group">
                    <input type="text" name="deviceid" ng-model="carsecure.regvehicle.deviceid" class="form-control" placeholder="Device Id" required>
                </div>
                <div class="form-group"><input type="submit" class="form-control btn btn-primary" value="Register Vehicle"></div>
            </form>
		</div>
        </div>
        <div class="creators">
            Created by Prajyot Walali, Prabhat Singh and Ranvijay Prajapati.
        </div>
</div>
