<div class="container">
    <div class="row" style="margin-top:60px">
            <h1 class="logo">CarSecure</h1>
                </div>
           <div class="login-form">
          <div class="row" style="margin-top:40px">
            <form  data-ng-submit="reguser()">
                <div class="form-group">
                    <input type="text" name="name" ng-model="carsecure.user.name" class="form-control" placeholder="Your Name" required>
                </div>
                <div class="form-group">
                    <input type="text" name="email" ng-model="carsecure.user.email" class="form-control" placeholder="Email" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password1" ng-model="carsecure.user.password1" class="form-control" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <input type="password" name="password2" ng-model="carsecure.user.password2" class="form-control" placeholder="Retype Password" required>
                </div>
                <div class="form-group"><input type="submit" class="form-control btn btn-primary" value="Register"></div>
            </form>
		</div>
        </div>
        <div class="row">
        <div class="redirect">
            <span>Already have an account?&nbsp;&nbsp;&nbsp;Login&nbsp;&nbsp;&nbsp;<a href="index.html">here</a> </span>
        </div>
        <div class="creators">
            Created by Prajyot Walali, Prabhat Singh and Ranvijay Prajapati.
        </div>
        </div>
</div>
